# Numpy: Creating Arrays

Numpy offers a huge range of ways to create arrays:

In [1]:
import numpy as np

## Creating arrays from Python lists

Create a numpy array from a Python array:

In [2]:
a = np.array([10,20,30,40])
a

array([10, 20, 30, 40])

Create from a Python array of floats:

In [3]:
b = np.array([1.2, 3.7, 4.9, 5.6])
b

array([1.2, 3.7, 4.9, 5.6])

Create a 2D array:

In [4]:
c = np.array([[1,2,3],[4,5,6]])
c

array([[1, 2, 3],
       [4, 5, 6]])

Create an array with a specific data type:

In [5]:
d = np.array( [ [1,2,3,4] ], dtype=float )
d

array([[1., 2., 3., 4.]])

## Creating initialised arrays

Create an array initialised with zeros:

In [6]:
e = np.zeros((8,8))
e

array([[0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0.]])

Create an array initialised with ones:

In [7]:
f = np.ones((5,5))
f

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

Create an "empty" array, i.e. an uninitialised array.  The numbers will effectively be random:

In [9]:
g = np.empty((4,3))
g

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

## Creating arrays from numerical ranges

Create an array using a range and increment.
This creates an array starting at 10, going up in increments of 5, stopping **before** it gets to 30:

In [10]:
h = np.arange( 10, 30, 5 )
h

array([10, 15, 20, 25])

Create an array using a range and number of elements.  This creates an array starting at 10, ending at 30, with 4 evenly spaced numbers generated.  Note that the last number is included:

In [12]:
i = np.linspace( 10, 30, 4)
i

array([10.        , 16.66666667, 23.33333333, 30.        ])

Create an array initialised with random numbers:

In [13]:
j = np.random.rand(4,2)
j

array([[0.0382664 , 0.24596284],
       [0.50662886, 0.98313325],
       [0.92035974, 0.71556982],
       [0.8966128 , 0.20850972]])

Create an array initialised with random numbers from a normal distribution:

In [14]:
k = np.random.randn(4,2)
k

array([[ 1.34119803, -3.39389224],
       [-0.26370645,  0.08926688],
       [-0.0610348 ,  0.54128321],
       [ 0.57162255,  1.6206258 ]])

## Creating arrays from lambda functions

Create an array using a lambda function.  Lambda functions are "anonymous" functions, i.e. functions without a name.  As such, we can use them inline in our code.  Here we create a times table grid:

In [15]:
m = np.fromfunction(lambda i, j: (i+1) * (j+1), (12,12), dtype=int)
m

array([[  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12],
       [  2,   4,   6,   8,  10,  12,  14,  16,  18,  20,  22,  24],
       [  3,   6,   9,  12,  15,  18,  21,  24,  27,  30,  33,  36],
       [  4,   8,  12,  16,  20,  24,  28,  32,  36,  40,  44,  48],
       [  5,  10,  15,  20,  25,  30,  35,  40,  45,  50,  55,  60],
       [  6,  12,  18,  24,  30,  36,  42,  48,  54,  60,  66,  72],
       [  7,  14,  21,  28,  35,  42,  49,  56,  63,  70,  77,  84],
       [  8,  16,  24,  32,  40,  48,  56,  64,  72,  80,  88,  96],
       [  9,  18,  27,  36,  45,  54,  63,  72,  81,  90,  99, 108],
       [ 10,  20,  30,  40,  50,  60,  70,  80,  90, 100, 110, 120],
       [ 11,  22,  33,  44,  55,  66,  77,  88,  99, 110, 121, 132],
       [ 12,  24,  36,  48,  60,  72,  84,  96, 108, 120, 132, 144]])