# Let's jump right in and start looking at some practical SQL

In this exercise we are going to rely on SQLite. This is a small, fast and lightweight SQL variant. In the lecture examples we saw MySQL. All variants of SQL work in a similar way. We chose SQLite for these exercises because of the lightweight profile and the ability to work from a local instance without a complicated setup. 

[Find out more here](https://www.w3resource.com/sqlite/)

In [2]:
import sqlite3 as sql
import pandas as pd

# %load_ext sql

:

Let's begin by creating a database. The following command will create a local instance of our database with the name dataProgramming.db. If you get an error then check:
- That you have run the above code cell and that the libraries are installed and working on your machine.
- That you have the correct permissions on your local machine.

In [2]:
%sql sqlite:///dataProgramming.db

UsageError: Line magic function `%sql` not found.

## Create a table

***%%sql*** let you use multiple SQL statements inside a single cell. 

It is now time to create one using a standard SQL command â€“ CREATE TABLE. If the table already existed in the database, an error will pop up. In addition, we set ***PRIMARY KEY*** on USERID to prevent from inserting duplicate writers into the table.

In [ ]:
%%sql sqlite://
CREATE TABLE users(
    FirstName VARCHAR(30) NOT NULL,
    LastName VARCHAR(30) NOT NULL,  
    USERID int  NOT NULL UNIQUE, 
    PRIMARY KEY (USERID)
);

# Playing with queries
Let's add some users. To find out more about this command, read [here](https://www.w3schools.com/sql/sql_insert.asp) 

Run this code and then try to add four users of your own. What happens if you do not insert data in the NOT NULL fields?

In [ ]:
%%sql sqlite://
INSERT INTO users VALUES ('Ghulam', 'Baker', 1);
INSERT INTO users VALUES ('Savannah', 'Shelton', 2);
# You will get an error if you try to run this more than once as there are UNIQUE requirements for these fields.

## Our first query

Let's now try to get some data back. Databases are not all about inserting, in fact queries are more useful. Let's grab all of our data. We can do this by using SELECT and signifying * which is a parameter which indicates all of the columns of a table.

In [ ]:
sqlres = %sql SELECT * from users
sqlres

What about if we want to select just the names of people in the table? In this case we are not concerned with the USERID. Let's have a look at how we might construct such a query.

In [ ]:
sqlres = %sql SELECT FirstName, LastName from users
sqlres

In [ ]:
''' 
What about if we want to query specific things based on more complex logic? 
Look up Savannah's user ID and put it between the apostrophes in the USERID=''
'''

%sql SELECT FirstName FROM users WHERE USERID='Savannah_user_id'

In [6]:
# Try to come up with a way to list the columns of a table. There are a few ways that you can do this.
%config

Available objects for config:
     AliasManager
     DisplayFormatter
     HistoryManager
     IPCompleter
     IPKernelApp
     LoggingMagics
     MagicsManager
     OSMagics
     PrefilterManager
     ScriptMagics
     StoreMagics
     ZMQInteractiveShell

In [ ]:
# We can even do mathematical operations inline, for instance we could use the mod function (%) 
# and look for even fields (divisible by 2 where the integer remainder = 0 ie no remainder.)
%sql SELECT USERID FROM users WHERE FirstName='Savannah' and USERID %2 = 0

## Can we rename the table headings from the data we get back from our query? See if you can figure this out using AS

[The AS command](https://www.w3schools.com/sql/sql_ref_as.asp)

In [ ]:
# SELECT something AS something FROM somewhere;

Has the AS command changed the initial data from the table? Run a query on the table to see if it has changed.

We saw the '*' parameter earlier, where we pull all of our data back. In some cases these sorts of queries can be really inefficient (and expensive!). When our queries bring back all rows and all columns for
a table, it can be really inefficient (and expensive!).  

One way that we can overcome this is by limiting the number of rows we return. 

We can limit the number of rows returned using the LIMIT modifier to our select statement:

In [ ]:
%sql SELECT * From users LIMIT 1

## The use of aggregate functions. Can we count the number of users with the same surname? 

[Aggregate functions](https://www.w3resource.com/sql/aggregate-functions/aggregate-function.php)


An aggregate function performs a calculation on one or multiple values (rows) and returns a single value as a result.
We can then use an aggregate function to group our users by their "LastName" and COUNT how many have the same surname.

First of all, add two entries to the users table with identiacal surnames:

In [ ]:
%%sql sqlite://
INSERT INTO users VALUES (---, ---,---);
INSERT INTO users VALUES (---, ---,---);

If we use the [COUNT and GROUP BY](https://www.w3resource.com/sql/aggregate-functions/count-with-group-by.php) aggregate functions, we can find out how many users have the same surname:

In [ ]:
%sql SELECT LastName, COUNT(*) as Entries from users GROUP BY Lastname;

Can you combine the above aggregate function and only LIMIT the query to show the first three rows?

Try adding an ORDER by parameter to the previous query to further refine our output.
You can find some documentation [here](https://www.w3schools.com/sql/sql_ref_order_by.asp)
HINT: Order first!

In [ ]:
# We might even want to get smallest/largest values as follows
%sql SELECT min(USERID), max(USERID) from users

Now see if you can stretch your legs a bit. Experiment with queries using some or all of the following operators.

- 'AND' 
- 'OR'
- 'NOT' 
- 'IN'
- '<>' 
- '!='
- '>=' 
- '>' 
- '<' 
- '<='

Some examples of syntax for each of these parameters can be found [here](https://www.w3schools.com/sql/default.asp). The logic is somewhat similar to the logic you would use in Python.

In [ ]:
# how many of these can you use? Can you use all of them in a query?